body {
  background-color: #b3e5fc;
  border-radius: 10px;
}
.texeLeft {
  text-align: left;
}
.searchBar {
  display: flex;
  float: right;
}
.searchBar input {
  margin: 10px 10px 0 0;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 10px;
}
.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.btn1 {
  padding: 5px 8px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
.btn1:hover {
  color: cyan;
  background-color: crimson;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
